@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");

/* * {
  border: 1px solid red;
} */

html,
body {
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 16px;
  color: #eee;
  background: linear-gradient(-45deg, #333, #555, #444, #333);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-height: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 5px 0;
}
